*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div {
    background: grey;
    height: 150px;
    width: 150px;
    /* margin: 10px;
    float:left; */
}


/* div:first-child{
    background: green;
}

div:last-child{
    background: blue;
} */

/*
div:first-of-type{
    background: blue;
}

div:last-of-type{
    background: green;
}
*/
/*se pueden representar Series  
div:nth-child(2n+1){
    background: green;
} */

/* pseudo clases para lingks */
/* a:link{
    color: #000;   
}

a:visited {
    color: red;
}

/* cuando se esta haciendo click * /
a:active{
    color:yellow;
} */


/* pseudoclases par inputs */
/* Se puede usar , para agrupar propiedades con los mismos estilos */
/* input[type="text"]:focus, input[type="password"]:focus {
    background: red;
}

input[type="checkbox"]+div{
    width: 100px;
    height: 100px;
}

input[type="checkbox"]:checked + div{
    background: black;
}

button:active {
    background: black;
} */

/* AFTER BEFORE */
/* div:hover::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
}  */

/* div::after{
    background: #333;
    content: attr(acceso);
    position: absolute;
    display: block;
    width: 50px;
    height: inherit;
    bottom: 20px;
} */





.checkbox {
    width: 200px;
    height: 100px;
    border-radius: 50px;
}

.checkbox::before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    border: 5px solid grey;
    background: black;
    border-radius: 50px;
    transition: 0.2s all linear;

    /* transform: translateX(100px)     */
}

input[type="checkbox"]{
    position: absolute;
    width: 200px;
    height: 100px;
    opacity: 0;
    z-index: 99;
}

input[type="checkbox"]:checked + .checkbox::before{
    transform: translateX(100px);
}


.giro2 {
    position: absolute;
    top: 145px;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 60px;
    animation: 5s animacion infinite ;
    /* transition: 0.5s all ease-out; */
}
.giro {
    position: absolute;
    width: 10px;
    height: 100px;
    left: 45px;
    background: red;
    border-radius: 60px;
    animation: 5s animacion infinite ;
    /* transition: 0.5s all ease-out; */
}

/* .giro:hover {
    transform: rotateZ(90deg);
} */

/* Reglas */

@keyframes animacion {
    /* from {
        background: #fff;
    }
    to {
        background: #000;
    } */

    0% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: translateX(600px);
    }

}